<div class="animate-panel asset-group" ng-controller="ManageFleetTypeCtrl as mftCtrl">
<form role="form" id="form" name="add_assetgroup_form" ng-submit="mftCtrl.updateDetails(add_assetgroup_form.$valid)" novalidate>
	<div class="bc-panel-white">
		<div class="row">
			<div class="col-md-10">
				<div class="row">           
					<div class="col-md-6 p-r0">
						<div class="form-group">
							<label>Fleet Type<span class="text-danger">*</span></label>
							<input class="form-control" type="text" ng-model="mftCtrl.attributes.Fleet" required  ng-minlength="2" ng-maxlength="30">
						</div>
					</div>
				</div>
				<div class="row"> 
					<div class="col-md-6 p-r0">
                        <div class="form-group">
                            <label>Upload Image</label>
                            <div class="input-group image-preview">
                                <input type="text" class="form-control image-preview-filename" id="fileName">
                                <span class="input-group-btn">
                                    <!-- image-preview-clear button -->
                                    <!--<button type="button" id="clearImageId" ng-click="mftCtrl.clearImage();" class="btn btn-default image-preview-clear">
                                        <span class="glyphicon glyphicon-remove"></span> Clear
                                    </button>-->
                                    <!-- image-preview-input -->
                                    <div class="btn btn-default image-preview-input">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                        <span class="image-preview-input-title">Choose File</span>
                                        <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" class="btn btn-default" id="inputFileToLoad" ng-change="mftCtrl.loadImageFileAsURL();"><!-- rename it -->
                                    </div>
                                </span>

                            </div><!-- /input-group image-preview [TO HERE]-->
                            <input type="hidden" id="imageBase64" />
                            <div class="no-img"><img id="previewId" ng-src="{{mftCtrl.Image}}" /></div>
                            <!-- /input-group image-preview [TO HERE]-->
                        </div>
					</div>
				</div>
				<div class="row"> 
					<div class="col-md-8 p-r0">
						<div class="form-group">
							<label>Description <span class="text-danger"> *</span></label>
							<textarea rows="3" cols="5" class="form-control" ng-model="mftCtrl.attributes.Description" maxlength="3000" required></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer text-right bc-panel-footer">
        <a ui-sref="configuration.FleetTypeList" class="btn btn-default">Cancel</a>
		<button class="btn btn-primary" type="submit">Submit</button>
	</div>
	</form>
</div>
