<div class="text-right m-b20 custom-btn-pos">
    <a href="javascript:void(0);" ui-sref="configuration.AddRate()" class="btn btn-primary btn-i"><i class="fa fa-plus"></i>Add Rate</a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="animate-panel bookinglist" ng-controller="RateListCtrl as rlCtrl">

            <div class="grid-tb-panel clearfix">
                <table ng-table="rlCtrl.bcaTableParams" class="table table-stripped toggle-arrow-tiny table-hover" show-filter="true">
                    <tr ng-repeat="rate in $data" ng-if="$data.length > 0">
                        <td title="'Customer'" filter="{ CustomerName: 'text'}" sortable="'CustomerName'" class="text-left">{{rate.CustomerName}}</td>

                        <td title="'Fleet Type'" filter="{ Fleet : 'text'}" sortable="'Fleet'">{{rate.Fleet}}</td>

                        <td title="'Fleet Name'" filter="{ Registration : 'text'}" sortable="'Registration'">{{rate.Registration}}</td>

                        <td title="'Capacity (in tons)'" filter="{ Capacity : 'text'}" sortable="'Capacity'">{{rate.Capacity}}</td>

                        <td title="'Work Type'" filter="{ WorkType : 'text'}" sortable="'WorkType'">{{rate.WorkType}}</td>

                        <td title="'Rates (hourly)'" filter="{ Rates : 'text'}" sortable="'Rates'">{{rate.Rates}}</td>

                        <td title="'Action'" align="center" nowrap="true" width="1%">
                            <div class="btn-group">
                                <a class="dropdown-toggle" id="dLabel" href="javascript:void(0);" data-toggle="dropdown">
                                    <i class="fa pe-7s-more action-icon" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu hdropdown notification dropdown-menu-right animated flipInX" role="menu">
                                    <li><a href="javascript:void(0)" ui-sref="configuration.EditRate({RateId: rate.RateId})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
                                    <li><a href="javascript:void(0);" ng-click="ftlCtrl.deleteRate(rate.RateId);"><i class="fa pe-7s-trash" aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="$data.length <= 0 || $data.length ===''">
                        <td colspan="7" class="text-center">No records found</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
   
</div>


<script type="text/javascript">
        //VD
        $(".table-expandable-arrow").click(function () {
            $(this).toggleClass("active");
        });
</script>