<div ng-controller="SupervisorCtrl as sCtrl">
    <div class="text-right m-b20 custom-btn-pos">
        <a href="javascript:void(0);" ng-click="sCtrl.addSupervisor()" class="btn btn-primary btn-i"><i class="fa fa-plus"></i>Add Supervisor</a>
    </div>
    <div class="clearfix">
        <div class="bc-panel-white clearfix">
            <div class="col-md-5 p-l0">
                <div class="row">
                    <div class="col-md-5">
                        <label>Customer</label>
                        <div class="form-group">                            
                            <select ng-model="sCtrl.customer" name="customer" class="form-control" ng-required="true" ng-options="item.CustomerName for item in sCtrl.customerList track by item.CustomerId" ng-change="sCtrl.changeCustomer(sCtrl.customer.CustomerId, 'list');">
                                <option value="">Select</option>
                            </select>                           
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label>Site</label>
                        <div class="form-group">                            
                            <select ng-model="sCtrl.site" name="site" class="form-control" ng-required="true" ng-options="item.SiteName for item in sCtrl.siteList track by item.SiteId" ng-change="sCtrl.changeSite(sCtrl.site.SiteId, 'list');">
                                <option value="">Select</option>
                            </select>                            
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>

    <!--Supervisor List Content-->
    <div>
        <div id="grid"
             ui-grid="sCtrl.uiGrid"
             ui-grid-move-columns
             ui-grid-pagination
             ui-grid-resize-columns
             ui.grid.autoResize
             external-scopes="clickHandler"
             class="grid">
            <div class="watermark" ng-show="!sCtrl.uiGrid.data.length">No records found</div>
        </div>
    </div>

    <!-- Supervisor List  Content End-->
</div>