<div ng-controller="WorkAllocationCtrl as waCtrl" ng-init="waCtrl.initCurrentCustomerSite()">
    <!--Tab Start-->
    <div ng-controller="TabCtrl" class="workallocation">
        <div class="clearfix">
            <div class="hpanel hpanel-box hpanel-customer-box">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="booking-details left-heading">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><b>Customer Name:</b> {{waCtrl.customerName}}</td>                                        
                                    </tr>
                                    <tr>                                       
                                        <td><b>Site Name:</b> {{waCtrl.siteName}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
         
                    </div>
                </div>
            </div>

            <div class="bc-panel-white clearfix" ng-controller="StartDatepickerCtrl">
                <div class="col-md-8 p-l0">
                    <div class="row">
                        <div class="col-md-3">
                            <label>From Date</label>
                            <div class="form-group">
                                <div class="input-group date-picker">
                                    <span class="input-group-addon" ng-click="startDate()">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input placeholder="DD-MM-YYYY" ng-click="startDate()" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           show-button-bar="false" ng-model="waCtrl.attributes.FromDate" is-open="popup1.opened"
                                           max-date="waCtrl.attributes.ToDate" datepicker-options="dateOptions"
                                           ng-required="true" close-text="Close" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 p-l0">
                            <label>To Date</label>
                            <div class="form-group">
                                <div class="input-group date-picker">
                                    <span class="input-group-addon" ng-click="endDate()">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input placeholder="DD-MM-YYYY" ng-click="endDate()" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           show-button-bar="false" ng-model="waCtrl.attributes.ToDate" is-open="popup2.opened"
                                           min-date="waCtrl.attributes.FromDate"
                                           max-date="'{{maxDate}}'" datepicker-options="dateOptions"
                                           ng-required="true" close-text="Close" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 p-l0">
                            <a href="javascript:void(0)" ng-click="waCtrl.fiterdData()" class="btn-primary btn go-btn" title="GO">GO</a>
                            <a href="javascript:void(0)" ng-click="waCtrl.resetFilterDate()" class="btn-primary btn go-btn" title="RESET">RESET</a>
                            <div ng-if="waCtrl.dateRangeError">
                                <span class="has-error"> Both date are required.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Search Filter-->
        <!--Search Filter-->
        <div>
            <div>
                <!--<div class="hpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="booking-details left-heading p-t10 p-b10">
                                    <table cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td><b>Customer Name:</b> {{waCtrl.ccbListData.CustomerName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>-->               
               
            </div>
            <uib-tabset active="active">
                <uib-tab index="0" heading="Booked In" ng-click="waCtrl.tabClick('Pending')">
                    <!--Pending Details Content-->
                    <div>
                        <div id="grid0"
                             ui-grid="waCtrl.uiGridCustomerSite0"                             
                             ui-grid-exporter
                             ui-grid-move-columns
                             ui-grid-pagination
                             ui-grid-resize-columns
                             external-scopes="clickHandler"
                             class="grid">
                            <div class="watermark" ng-show="!waCtrl.uiGridCustomerSite0.data.length">No records found</div>
                        </div>
                    </div>
                    <!--Pending Details Content End-->
                </uib-tab>
                <uib-tab index="1" heading="Allocated" ng-click="waCtrl.tabClick('Allocated')">
                    <!--Allocated  Details Content-->
                    <!--<h1>Allocated Gird Content</h1>-->
                    <div>
                        <div id="grid1"
                             ui-grid="waCtrl.uiGridCustomerSite1"
                             ui-grid-exporter
                             ui-grid-move-columns
                             ui-grid-pagination
                             ui-grid-resize-columns
                             external-scopes="clickHandler"
                             class="grid">
                            <div class="watermark" ng-show="!waCtrl.uiGridCustomerSite1.data.length">No records found</div>
                        </div>
                    </div>
                    <!--Allocated  Details Content End-->
                </uib-tab>
                <uib-tab index="2" heading="Completed" ng-click="waCtrl.tabClick('Completed')">
                    <!--Completed Details Content-->
                    <!--<h1>Completed Gird Content</h1>-->
                    <div>
                        <div id="grid2"
                             ui-grid="waCtrl.uiGridCustomerSite2"                             
                             ui-grid-exporter
                             ui-grid-move-columns
                             ui-grid-pagination
                             ui-grid-resize-columns
                             external-scopes="clickHandler"
                             class="grid">
                            <div class="watermark" ng-show="!waCtrl.uiGridCustomerSite2.data.length">No records found</div>
                        </div>
                    </div>
                    <!--Completed Details Content End-->
                </uib-tab>
            </uib-tabset>
            <div class="modal fade" id="customer-details" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title">Customer Details</h4>
                            <div class="clostbtn">
                                <button type="button" data-dismiss="modal" aria-label="Close"><img src="../images/closebtn.png"></button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Customer Name</label>
                                        <input class="form-control" readonly="readonly" name="" value="2010 Debtors" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ABN/ ACN Number</label>
                                        <input class="form-control only-float" readonly="readonly" name="" value="19150704331" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input class="form-control only-float" readonly="readonly" name="" value="accounts@cbbgroup.com.au" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contact Number</label>
                                        <input class="form-control" readonly="readonly" name="" value="02 9621 4433" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Tab End-->