
<div class="row right-btn-group clearfix">
    <div class="col-md-12">
        <div class="text-right">
            <a href="javascript:void(0);" ui-sref="configuration.AddFleetRegistration()" class="btn btn-primary btn-i"><i class="fa fa-plus"></i>Add Fleet Registration</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div ng-controller="BookingDashboardFleetListCtrl as bdflCtrl">
            <div class="grid-tb-panel clearfix">
               <table ng-table="bdflCtrl.bcaTableParams" class="table table-stripped toggle-arrow-tiny table-hover" show-filter="true">
                  <tr ng-repeat="fleetlist in $data" ng-if="$data.length > 0">
                     <td title="'Plant Number'" filter="{ BorgCivilPlantNumber: 'text'}" sortable="'BorgCivilPlantNumber'" class="text-center">{{fleetlist.BorgCivilPlantNumber}}</td>

                     <td title="'Make/Model/Year '" filter="{ MakeModelYear : 'text'}" sortable="'MakeModelYear'">{{fleetlist.MakeModelYear}}</td>

                     <td title="'VIN/Engine Number'" filter="{ VINEngineNumber: 'text'}" sortable="'VINEngineNumber'">{{fleetlist.VINEngineNumber}}</td>

                     <td title="'Asset Type'" filter="{ Fleet: 'text'}" sortable="'Fleet'"  class="text-center">{{fleetlist.Fleet}}</td>

                     <td title="'Service Interval'" filter="{ ServiceInterval: 'text'}" sortable="'ServiceInterval'"  class="text-center">{{fleetlist.ServiceInterval}}</td>

                     <td  align="center" nowrap="true" width="1%">
                      
                     </td>
                  </tr>
                   <tr ng-if="$data.length <= 0 || $data.length ===''">
                       <td colspan="7" class="text-center">No records found</td>
                   </tr>
               </table>
            </div>
         </div>