<div class="animate-panel add-user" ng-controller="ManageUserCtrl as muCtrl">
    <form role="form" name="change_password_form" ng-submit="muCtrl.changePassword(change_password_form.$valid)" novalidate>
        <div class="bc-panel-white">
            <div class="row">
                <div class="col-md-4 p-r0">
                    <div class="form-group">
                        <label>Old Password<span class="text-danger">*</span></label>
                        <input type="password" class="form-control" ng-model="muCtrl.passwordAttributes.OldPassword" title="Please enter your old password" placeholder="******" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-r0">
                    <div class="form-group">
                        <label>New Password<span class="text-danger">*</span></label>
                        <input type="password" class="form-control" ng-model="muCtrl.passwordAttributes.NewPassword" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$/" title="Please enter your new password" name="NewPassword" placeholder="******" required>
                        <div ng-if="change_password_form.NewPassword.$invalid && !change_password_form.NewPassword.$pristine">
                            <span class="has-error"> Password should be atleast 6 characters long and should contain one number, one character and one special character.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-r0">
                    <div class="form-group">
                        <label>Confirm New Password<span class="text-danger">*</span></label>
                        <input type="password" class="form-control" ng-model="muCtrl.passwordAttributes.ConfirmPassword" ng-pattern="{{muCtrl.passwordAttributes.NewPassword}}" title="Please confirm your new password" name="ConfirmPassword" placeholder="******" required>
                        <div ng-if="change_password_form.ConfirmPassword.$invalid && !change_password_form.ConfirmPassword.$pristine">
                            <span class="has-error">The passwords do not match.</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer text-right bc-panel-footer">
            <button class="btn btn-primary" title="Save">Save</button>
            <a ui-sref="booking.BookingDashboard" class="btn btn-default" title="Cancel">Cancel</a>
        </div>
    </form>
</div>