<div class="animate-panel fleet-registration" ng-controller="ManageFleetRegistrationCtrl as mfrCtrl">
    <form role="form" id="form" name="add_fleetregistration_form" ng-submit="add_fleetregistration_form.$valid && mfrCtrl.updateDetails(add_fleetregistration_form) " novalidate>
        <div ng-controller="TabCtrl">
            <uib-tabset active="active">
                <!-- Fleet Registration Tab -->
                <uib-tab index="0" heading="Person Information" ng-attr-active="mfrCtrl.tabs[0].active">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hpanel h-panel">
                                <div class="panel-body p-b0 clearfix">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <ul class="list-inline inline-form-element">
                                                    <li>
                                                        <div class="checkbox"><label class="p-l0"> <input type="radio" icheck name="radioshift" ng-model="mfrCtrl.isSubcontractor" value="no" ng-checked="true">  Borg Civil Australia</label></div>
                                                    </li>
                                                    <li>
                                                        <div class="checkbox"><label class="p-l0"> <input type="radio" icheck name="radioshift" ng-model="mfrCtrl.isSubcontractor" value="yes"> Subcontractor</label></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <select ng-model="mfrCtrl.subcontractor" name="fleetType" class="form-control" ng-required="true" ng-options="item.Text for item in mfrCtrl.subcontractorList track by item.Value" ng-if="mfrCtrl.isSubcontractor === 'yes'">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Equipment Type <span class="text-danger">*</span></label>
                                                <select ng-model="mfrCtrl.fleetType" name="fleetType" class="form-control" ng-required="true" ng-options="item.FleetTypeName for item in mfrCtrl.fleetTypeList track by item.FleetTypeId">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Make<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.Make" ng-minlength="2" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Model<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.Model" ng-minlength="2" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Capacity<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.Capacity" ng-minlength="2" required ng-maxlength="10">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Year<span class="text-danger">*</span></label>
                                                <input type="Number" name="year" class="form-control" ng-model="mfrCtrl.attributes.Year" ng-pattern="mfrCtrl.yearRegx" min="0" required>
                                                <div ng-show="add_fleetregistration_form.year.$error.pattern" class="help-block has-error error-msg">Invalid Year</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Registration <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.Registration" ng-minlength="2" ng-maxlength="10" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Borg Civil Plant Number <span class="text-danger">*</span> </label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.BorgCivilPlantNumber" ng-minlength="2" ng-maxlength="10" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>VIN Number<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.VINNumber" ng-minlength="2" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group" ng-controller="StartDatepickerCtrl">
                                                <label>Insurance Date <span class="text-danger">*</span> </label>
                                                <div class="input-group date-picker">
                                                    <span class="input-group-addon" ng-click="startDate()">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                    <input placeholder="DD-MM-YYYY" ng-click="startDate()" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                                           show-button-bar="false" ng-model="mfrCtrl.attributes.InsuranceDate" is-open="popup1.opened"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true" close-text="Close" ng-model-options="{timezone: 'UTC'}" readonly />
                                                    <a href="javascript:void(0)" ng-click="mfrCtrl.resetDate()" class="btn-primary btn go-btn input-group-addon" title="RESET"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-controller="StartDatepickerCtrl">
                                                <label>Insurance Expiry Date<span class="text-danger">*</span> </label>
                                                <div class="input-group date-picker">
                                                    <span class="input-group-addon" ng-click="startDate()">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                    <input placeholder="DD-MM-YYYY" ng-click="startDate()" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                                           show-button-bar="false" ng-model="mfrCtrl.attributes.InsuranceExpiryDate" is-open="popup1.opened"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true" close-text="Close" ng-model-options="{timezone: 'UTC'}" readonly />
                                                    <a href="javascript:void(0)" ng-click="mfrCtrl.resetExpiryDate()" class="btn-primary btn go-btn input-group-addon" title="RESET"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Company </label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.InsuranceCompany" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Insurance Policy Number </label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.InsurancePolicyNumber" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Engine Number<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.EngineNumber" ng-minlength="2" ng-maxlength="50" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Current Meter Reading </label>
                                                <input type="number" class="form-control" ng-model="mfrCtrl.attributes.CurrentMeterReading" max="999999" min="0">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Last Service Meter Reading </label>
                                                <input type="number" class="form-control" ng-model="mfrCtrl.attributes.LastServiceMeterReading" max="999999" min="0">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Available Driver <span class="text-danger">*</span></label>
                                                <select ng-model="mfrCtrl.driver" name="fleetType" class="form-control" ng-required="true" ng-options="item.Name  for item in mfrCtrl.driverList track by item.DriverId">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Service Interval<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.ServiceInterval" ng-minlength="2" ng-maxlength="30" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>HVIS Type <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.attributes.HVISType" ng-minlength="2" required ng-maxlength="30">
                                            </div>
                                        </div>
                                        <div class="col-md-3" ng-if="mfrCtrl.fleetType.FleetTypeName === 'Truck'">
                                            <div class="form-group">
                                                <label>Attachement <span class="text-danger">*</span></label>
                                                <select ng-model="mfrCtrl.attributes.AttachmentId" class="form-control" required>
                                                    <option value="">Select</option>
                                                    <option ng-repeat="attachment in mfrCtrl.attachmentList" value="{{attachment.AttachmentId}}">{{attachment.AttachmentTitle}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>
                                    <h5 class="sub-title m-t-sm">Unavailable Period</h5>
                                    <div class="row">
                                        <div class="col-md-4 p-r0" ng-controller="StartDatepickerCtrl">
                                            <div class="form-group">
                                                <label>From Date </label>
                                                <div class="input-group date-picker">
                                                    <span class="input-group-addon" ng-click="startDate()">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                    <input placeholder="DD-MM-YYYY" ng-click="startDate()" type="text" name="expiryDate" class="form-control" uib-datepicker-popup="{{format}}"
                                                           show-button-bar="false" ng-model="mfrCtrl.attributes.UnavailableFromDate" is-open="popup1.opened" min-date="minDate"
                                                           max-date="'{{maxDate}}'" datepicker-options="dateOptions"
                                                           close-text="Close" ng-model-options="{timezone: 'UTC'}"
                                                           ng-change="mfrCtrl.changeFromDate(mfrCtrl.attributes.UnavailableFromDate);" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 p-r0" ng-controller="StartDatepickerCtrl">
                                            <div class="form-group">
                                                <label>To Date</label>
                                                <div class="input-group date-picker">
                                                    <span class="input-group-addon" ng-click="startDate()">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                    <input placeholder="DD-MM-YYYY" ng-click="startDate()" type="text" name="expiryDate" class="form-control" uib-datepicker-popup="{{format}}"
                                                           show-button-bar="false" ng-model="mfrCtrl.attributes.UnavailableToDate" is-open="popup1.opened" min-date="mfrCtrl.attributes.UnavailableFromDate"
                                                           max-date="'{{maxDate}}'" datepicker-options="dateOptions"
                                                           close-text="Close" ng-model-options="{timezone: 'UTC'}" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 p-r0">
                                            <a href="javascript:void(0)" ng-click="mfrCtrl.resetDateRange()" class="btn-primary btn go-btn" title="Reset Dates">Reset</a>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Notes</label>
                                                <textarea class="form-control" rows="5" id="comment" ng-model="mfrCtrl.attributes.UnavailableNote"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-light-grey m-b0 p-b0">
                                        <h3 class="sub-title">Document Upload</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="input-group image-preview">
                                                        <input type="text" class="form-control image-preview-filename"> <!-- don't give a name === doesn't send on POST/GET -->
                                                        <span class="input-group-btn">
                                                            <!-- image-preview-clear button -->
                                                            <!--<button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                                <span class="glyphicon glyphicon-remove"></span> Clear
                                                            </button>-->
                                                            <!-- image-preview-input -->
                                                            <div class="btn btn-default image-preview-input">
                                                                <span class="glyphicon glyphicon-folder-open"></span>
                                                                <span class="image-preview-input-title">Choose File</span>
                                                                <input type="file" id="inputFileToLoad" multiple ngf-select ng-model="mfrCtrl.Image" name="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" class="btn btn-default" ng-change="mfrCtrl.loadImageFileAsURL(1);"><!-- rename it -->
                                                            </div>
                                                        </span>
                                                    </div><!-- /input-group image-preview [TO HERE]-->

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <!--<div ng-repeat="file in mfrCtrl.files">{{file}} <a href="javascript:void(0);" ng-click="mfrCtrl.deleteImage($index, file);"> <i class="fa pe-7s-trash" aria-hidden="true"></i></a></div>-->
                                                    <div ng-repeat="file in mfrCtrl.files">{{file}} <a href="javascript:void(0);" ng-click="mfrCtrl.deleteImage($index, file);"><i class="fa pe-7s-trash"></i></a></div>
                                                    <!--<div ng-repeat="files in mfrCtrl.filesSelected">{{files.name}} <a href="javascript:void(0);" ng-click="mfrCtrl.deleteImage($index);">Delete</a></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="panel-footer text-right bc-panel-footer">
                            <a class="btn btn-primary" ng-click="mfrCtrl.goNextTab(0)">Next</a>
                        </div>
                    </div>
                </uib-tab>

                <!-- Start Others tab -->               
                <uib-tab index="1" heading="Others" ng-attr-active="mfrCtrl.tabs[1].active">                   
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hpanel h-panel">
                                <div class="panel-body p-b0 clearfix">
                                    <h3 class="sub-title">Others Document Upload</h3>
                                    <div ng-if="mfrCtrl.othersError">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="alert alert-danger col-md-9">
                                                    <strong>Required!</strong> Subject and Attachments.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Subject</label>
                                                <input type="text" class="form-control" ng-model="mfrCtrl.others.Subject">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Notes</label>
                                                <textarea class="form-control" rows="5" id="comment" ng-model="mfrCtrl.others.Note"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Attachments</label>
                                                <div class="input-group image-preview">
                                                    <input type="text" class="form-control image-preview-filename"> <!-- don't give a name === doesn't send on POST/GET -->
                                                    <span class="input-group-btn">

                                                        <!-- image-preview-input -->
                                                        <div class="btn btn-default image-preview-input">
                                                            <span class="glyphicon glyphicon-folder-open"></span>
                                                            <span class="image-preview-input-title">Choose File</span>
                                                            <input type="file" id="inputOtherFileToLoad" multiple ngf-select ng-model="mfrCtrl.othersImage" name="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" class="btn btn-default" ng-change="mfrCtrl.loadOtherImageFileAsURL(2);"><!-- rename it -->
                                                        </div>
                                                    </span>
                                                </div><!-- /input-group image-preview [TO HERE]-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <!--<div ng-repeat="file in mfrCtrl.files">{{file}} <a href="javascript:void(0);" ng-click="mfrCtrl.deleteImage($index, file);"> <i class="fa pe-7s-trash" aria-hidden="true"></i></a></div>-->
                                                <div ng-repeat="file in mfrCtrl.mutipleFiles">{{file.FileName}}</div>
                                                <!--<div ng-repeat="files in mfrCtrl.filesSelected">{{files.name}} <a href="javascript:void(0);" ng-click="mfrCtrl.deleteImage($index);">Delete</a></div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <div class="form-group add-btn">
                                            <a href="javascript:void(0)" class="btn btn-primary btn-i" title="Add More" ng-click="mfrCtrl.addOthersRow()"><i class="fa fa-plus"></i> Add More</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="animate-panel bookinglist">
                                                <div class="grid-tb-panel">
                                                    <table ng-table="mfrCtrl.othersTableParams" class="table table-stripped toggle-arrow-tiny table-hover" show-filter="true">
                                                        <tr ng-repeat="otherList in $data track by $index" ng-if="$data.length > 0">
                                                            <td title="'Subject'" filter="{ Subject: 'text'}" sortable="'Subject'" class="text-left">{{otherList.Subject}}</td>
                                                            <td title="'Note'" filter="{ Note: 'text'}" sortable="'Note'" class="text-left">{{otherList.Note}}</td>
                                                            <td title="'Images'" class="text-left">
                                                                
                                                                <span ng-repeat="file in otherList.OtherFile track by $index">
                                                                {{file.FileName}} <a href="javascript:void(0);" ng-click="mfrCtrl.deleteOtherImage($parent.$index, $index, file);">
                                                                        <i class="fa pe-7s-trash"></i>
                                                                    </a>{{($last)?". ": ", "}}
                                                                </span>
                                                            </td>
                                                            <td title="'Action'" align="center" nowrap="true" width="1%">
                                                                <div class="btn-group">
                                                                    <a class="dropdown-toggle" id="dLabel" href="javascript:void(0);" data-toggle="dropdown">
                                                                        <i class="fa pe-7s-more action-icon" aria-hidden="true"></i>
                                                                    </a>
                                                                    <ul class="dropdown-menu hdropdown notification dropdown-menu-right animated flipInX" role="menu">
                                                                        <!--<li><a href="javascript:void(0)" ng-click="mfrCtrl.leaveHistoryDetailPopup(leaveHistoryList);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>-->
                                                                        <li><a href="javascript:void(0);" ng-click="mfrCtrl.deleteOtherDetail(otherList, $index);"><i class="fa pe-7s-trash" aria-hidden="true"></i> Delete</a></li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="$data.length <= 0 || $data.length ===''">
                                                            <td colspan="5" class="text-center">No records found</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                     
                            </div>
                        </div>
                        <div class="panel-footer text-right bc-panel-footer">
                            <a class="btn btn-primary" ng-click="mfrCtrl.goPreviousTab(1)">Prev</a>
                        </div>
                        <!--<button type="button" title="Cancel" class="btn btn-default" ng-click="mfrCtrl.reset()">Cancel</button>-->

                        <div class="panel-footer text-right bc-panel-footer">
                            <button type="button" title="Cancel" class="btn btn-default" ng-click="mfrCtrl.closeForm()">Cancel</button>
                            <button class="btn btn-primary" type="submit" title="Submit">Submit</button>
                        </div>
                    </div>
                </uib-tab>
                <!-- End Others tab -->

            </uib-tabset>
        </div>
    </form>                                
   
</div>