<div class="text-right m-b20 custom-btn-pos">
    <a href="javascript:void(0);" ui-sref="configuration.AddFleetType()" class="btn btn-primary btn-i"><i class="fa fa-plus"></i>Add Fleet Type</a>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="animate-panel bookinglist" ng-controller="FleetTypeListCtrl as ftlCtrl">

            <!--Fleet Type Content-->
            <div>
                <div id="grid"
                     ui-grid="ftlCtrl.uiGrid"                     
                     ui-grid-move-columns
                     ui-grid-pagination
                     ui-grid-resize-columns
                     ui.grid.autoResize
                     external-scopes="clickHandler"
                     class="grid">
                    <div class="watermark" ng-show="!ftlCtrl.uiGrid.data.length">No records found</div>
                </div>
            </div>

            <!-- Fleet Type Content End-->
        </div>

    </div>
    <div class="col-md-4">
        <div class="right-img"><img src="Content/images/construction.jpg" alt="checklist" /></div>
    </div>
</div>


<script type="text/javascript">
        //VD
        $(".table-expandable-arrow").click(function () {
            $(this).toggleClass("active");
        });
</script>