<div class="text-right m-b20 custom-btn-pos">
    <!--<a href="javascript:void(0);"ng-click="glCtrl.addContactModal()" class="btn btn-primary btn-i"><i class="fa fa-plus"></i>Add Contact</a>-->
    <a href="javascript:void(0);" ui-sref="configuration.AddGate()" class="btn btn-primary btn-i"><i class="fa fa-plus"></i>Add Gate</a>
</div>
<div ng-controller="GateListCtrl as glCtrl">
    <div class="clearfix">
        <div class="bc-panel-white clearfix">
            <div class="col-md-5 p-l0">
                <div class="row">
                    <div class="col-md-5">
                        <label>Customer</label>
                        <div class="form-group">
                            <select ng-model="glCtrl.customer" name="customer" class="form-control" ng-required="true" ng-options="item.CustomerName for item in glCtrl.customerList track by item.CustomerId" ng-change="glCtrl.changeCustomer(glCtrl.customer.CustomerId);">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label>Site</label>
                        <div class="form-group">
                            <select ng-model="glCtrl.site" name="site" class="form-control" ng-required="true" ng-options="item.SiteName for item in glCtrl.siteList track by item.SiteId" ng-change="glCtrl.changeSite(glCtrl.site.SiteId);">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Gate List Content-->
    <div>
        <div id="grid"
             ui-grid="glCtrl.uiGrid"
             ui-grid-move-columns
             ui-grid-pagination
             ui-grid-resize-columns
             ui.grid.autoResize
             external-scopes="clickHandler"
             class="grid">
            <div class="watermark" ng-show="!glCtrl.uiGrid.data.length">No records found</div>
        </div>
    </div>

    <!-- Gate List  Content End-->
</div>