<div class="animate-panel bookinglist" ng-controller="TaxCtrl as tCtrl">
    <div class="text-right m-b20 custom-btn-pos">
        <a href="javascript:void(0);" ng-click="tCtrl.addTax()" class="btn btn-primary btn-i"><i class="fa fa-plus"></i>Add Tax</a>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="animate-panel bookinglist">

                <div class="grid-tb-panel clearfix">
                    <table ng-table="tCtrl.bcaTableParams" class="table table-stripped toggle-arrow-tiny table-hover" show-filter="true">
                        <tr ng-repeat="tax in $data" ng-if="$data.length > 0">
                            <td title="'Tax Type'" filter="{ TaxType: 'text'}" sortable="'TaxType'" class="text-left">{{tax.TaxType}}</td>

                            <td title="'Rate'" filter="{ Rate : 'text'}" sortable="'Rate'">{{tax.Rate}}</td>

                            <td title="'Action'" align="center" nowrap="true" width="1%">
                                <div class="btn-group">
                                    <a class="dropdown-toggle" id="dLabel" href="javascript:void(0);" data-toggle="dropdown">
                                        <i class="fa pe-7s-more action-icon" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu hdropdown notification dropdown-menu-right animated flipInX" role="menu">
                                        <li><a href="javascript:void(0)"  ng-click="tCtrl.editTax(tax);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
                                        <li><a href="javascript:void(0);" ng-click="tCtrl.deleteTax(tax.TaxId);"><i class="fa pe-7s-trash" aria-hidden="true"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="$data.length <= 0 || $data.length ===''">
                            <td colspan="3" class="text-center">No records found</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="right-img"><img src="Content/images/construction.jpg" alt="checklist" /></div>
        </div>
    </div>
</div>


<script type="text/javascript">
        //VD
        $(".table-expandable-arrow").click(function () {
            $(this).toggleClass("active");
        });
</script>