<div ng-controller="WorkTypeCtrl as wtCtrl">
    <div class="text-right m-b20 custom-btn-pos">
        <a href="javascript:void(0);" ng-click="wtCtrl.addWorkType()" class="btn btn-primary btn-i"><i class="fa fa-plus"></i>Add Work List</a>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!--Work Type Content-->
            <div>
                <div id="grid"
                     ui-grid="wtCtrl.uiGrid"                   
                     ui-grid-move-columns
                     ui-grid-pagination
                     ui-grid-resize-columns
                     ui.grid.autoResize
                     external-scopes="clickHandler"
                     class="grid">
                    <div class="watermark" ng-show="!wtCtrl.uiGrid.data.length">No records found</div>
                </div>
            </div>

            <!-- Work Type Content End-->
        </div>
        <div class="col-md-4">
            <div class="right-img"><img src="Content/images/worktype.png" alt="checklist" /></div>
        </div>
        </div>

        </div>
