<div ng-controller="ManageJobBookingCtrl as mjbCtrl">
    <div class="top-panel" ng-if="mjbCtrl.showFleetTable">
        <h4><strong>Borg Civil Booking Number: {{mjbCtrl.attributes.BookingNumber}}</strong></h4>
    </div>
    <div>
        <!--Tab Start-->
        <div ng-controller="TabCtrl">
            <uib-tabset active="active">
                <uib-tab index="0" heading="General Details">
                    <div>
                        <!--General Details Content-->
                        <div id="general-details">
                            <form name="add_generaldetails_form" ng-submit="mjbCtrl.manageBooking(add_generaldetails_form.$valid)" novalidate>
                                <div class="bc-panel-white m-t-lg" ng-controller="StartDatepickerCtrl">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Calling Date &amp; Time<span class="text-danger">*</span></label>
                                            <div class="form-group" ng-controller="DateTimePickerCtrl">
                                                <div class="input-group date">
                                                    <span class="input-group-addon" ng-click="openCalendar()">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                    <!--<input type="text" id="callingDate" ng-model="mjbCtrl.attributes.CallingDateTime" class="form-control" date-time-picker />-->

                                                    <input type="text" tabindex="1" id="dateTime" name="appointment_date" class="form-control" ng-model="mjbCtrl.attributes.CallingDateTime" date-time-picker datetimepicker-options="{format:'DD-MM-YYYY hh:mm A' }" required readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div>
                                                <label>Booking Start Date<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="input-group date-picker">
                                                        <span class="input-group-addon" ng-click="startDate()">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                        <input type="text" ng-click="startDate()" class="form-control" uib-datepicker-popup="{{format}}"
                                                               show-button-bar="false" ng-model="mjbCtrl.attributes.FleetBookingDateTime" is-open="popup1.opened" min-date="minDate"
                                                               max-date="mjbCtrl.attributes.EndDate" datepicker-options="dateOptions"
                                                               ng-required="true" close-text="Close" ng-model-options="{timezone: 'UTC'}" readonly/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div>
                                                <label>Booking End Date<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="input-group date-picker">
                                                        <span class="input-group-addon" ng-click="endDate()">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                        <input type="text" ng-click="endDate()" class="form-control" uib-datepicker-popup="{{format}}"
                                                               show-button-bar="false" ng-model="mjbCtrl.attributes.EndDate" is-open="popup2.opened" min-date="mjbCtrl.attributes.FleetBookingDateTime"
                                                               max-date="'{{maxDate}}'" datepicker-options="dateOptions"
                                                               ng-required="true" close-text="Close" ng-model-options="{timezone: 'UTC'}" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Customer Name<span class="text-danger">*</span></label>
                                                <select class="form-control" ng-model="mjbCtrl.attributes.CustomerId" ng-change="mjbCtrl.customerChange()" required>
                                                    <option value="">Select</option>
                                                    <option value="{{item.CustomerId}}" ng-repeat="item in mjbCtrl.customerDropdownList">{{item.CustomerName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Site Location<span class="text-danger">*</span></label>
                                                <select class="form-control" ng-model="mjbCtrl.attributes.SiteId" required>
                                                    <option value="">Select</option>
                                                    <option value="{{item.SiteId}}" ng-repeat="item in mjbCtrl.siteDropdownList">{{item.SiteName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <!--<div class="form-group">
                                                <label>Work Type<span class="text-danger">*</span></label>
                                                <select class="form-control" ng-model="mjbCtrl.attributes.WorktypeId" required>
                                                    <option value="">Select</option>
                                                    <option value="{{item.Value}}" ng-repeat="item in mjbCtrl.workTypeDropdownList">{{item.Text}}</option>
                                                </select>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Notes For Allocator<span class="text-danger">*</span></label>
                                                <textarea class="form-control" ng-model="mjbCtrl.attributes.AllocationNotes" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-right col-md-12">
                                            <!--<button type="button" title="Cancel" class="btn btn-default" ng-click="mjbCtrl.reset()">Cancel</button>-->
                                            <button class="btn btn-primary continue" type="submit" title="Save">Save</button>
                                        </div>
                                    </div>
                                </div>
                             

                                <div class="bc-panel-light-grey" ng-if="mjbCtrl.showFleetTable">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3 class="sub-title" ng-if="mjbCtrl.attributes.BookingFleet.length > 0">Fleet Details</h3>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="add-btn m-t0">
                                                <a href="javascript:void(0)" class="btn btn-primary btn-i" title="Add Fleet" ng-click="mjbCtrl.addFleet('0')"><i class="fa fa-plus"></i> Add Fleet</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Fleet Grid Table Start-->                                    

                                    <div class="grid-tb-panel clearfix">
                                        <table ng-table="mjbCtrl.bcaTableParams" class="table table-stripped toggle-arrow-tiny table-hover" show-filter="true">
                                            <tr ng-repeat="fleet in $data" ng-if="$data.length > 0">
                                                <td title="'Fleet'" filter="{ FleetName: 'text'}" sortable="'FleetName'">{{fleet.FleetName}}</td>
                                                <td title="'Registration No./Description'" filter="{ FleetNumber: 'text'}" sortable="'FleetNumber'"><strong>Fleet Number:</strong>
                                                                                                                                                    {{fleet.FleetNumber}}<br>
                                                                                                                                                    <strong>Description:</strong>
                                                                                                                                                    {{fleet.FleetDescription}}</td>                                                

                                                <td title="'Driver Name'" filter="{ DriverName: 'text'}" sortable="'DriverName'">{{fleet.DriverName}}</td>
                                                <td title="'Fleet Booking DateTime'" filter="{ FleetBookingDateTime: 'text'}" sortable="'FleetBookingDateTime'" class="text-center">{{fleet.FleetBookingDateTime}}</td>
                                                <td title="'Fleet Booking EndDate'" filter="{ FleetBookingEndDate: 'text'}" sortable="'FleetBookingEndDate'" class="text-center">{{fleet.FleetBookingEndDate}}</td>
                                                <td title="'Action'" align="center" nowrap="true" width="1%">
                                                    <div class="btn-group">
                                                        <a class="dropdown-toggle" id="dLabel" href="javascript:void(0);" data-toggle="dropdown">
                                                            <i class="fa pe-7s-more action-icon" aria-hidden="true"></i>
                                                        </a>
                                                        <ul class="dropdown-menu hdropdown notification dropdown-menu-right animated flipInX" role="menu">
                                                            <li><a href="javascript:void(0);" ng-click="mjbCtrl.addFleet(fleet.BookingFleetId)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
                                                            <li><a href="javascript:void(0)" ng-click="mjbCtrl.deleteBookingFleet(fleet.BookingFleetId)" title="Delete"><i class="fa pe-7s-trash" aria-hidden="true"></i> Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-if="$data.length <= 0">
                                                <td colspan="6" class="text-center">No records found</td>
                                            </tr>
                                        </table>
                                    </div>


                                    <!--Fleet Grid Table End-->
                                </div>
                                <!--<div  ng-if="mjbCtrl.showFleetTable == false" class="panel-footer text-right bc-panel-footer clearfix">-->
                              
                            </form>
                        </div>
                        <!--General Details Content End-->
                    </div>
                </uib-tab>
                <!--<uib-tab index="1" heading="Site Details" ng-if="mjbCtrl.showFleetTable">
                     <div ng-controller="ManageBookingSiteCtrl as mbsCtrl">
                         <form ng-submit="mbsCtrl.manageBookingSite()">

                             <div id="site-details">
                                 <div class="bc-panel-white m-t-lg">
                                     <div class="row">
                                         <div class="col-md-3">
                                             <div class="form-group">
                                                 <label>Site Name</label>
                                                 <input type="text" value="Ballymore stadium" readonly="readonly" class="form-control" ng-model="mbsCtrl.SiteName">
                                             </div>
                                         </div>
                                         <div class="col-md-3">
                                             <div class="form-group">
                                                 <label>Customer Name</label>
                                                 <input type="text" value="2010 Debtors" readonly="readonly" class="form-control" ng-model="mbsCtrl.CustomerName">
                                             </div>
                                         </div>
                                     </div>
                                     <div class="row">
                                         <div class="col-md-11">
                                             <div class="form-group">
                                                 <label>Site Details</label>
                                                 <textarea class="form-control" readonly="readonly" ng-model="mbsCtrl.SiteDetail">91 Clyde Rd, Herston QLD 4006, Australia</textarea>
                                             </div>
                                         </div>
                                     </div>
                                     <div>

                                         <div class="row">
                                             <div class="col-md-3">
                                                 <div class="form-group">
                                                     <label>Supervisor Name</label>
                                                     <select class="form-control" name="select" id="select" ng-model="mbsCtrl.attributes" ng-options="item as item.Options for item in mbsCtrl.superVisor">
                                                         <option value="">Select</option>
                                                     </select>

                                                 </div>
                                             </div>
                                             <div class="col-md-3">
                                                 <div class="form-group">
                                                     <label>Supervisor Email</label>
                                                     <input class="form-control" readonly type="text" value="2" name="email" ng-model="mbsCtrl.attributes.SupervisorEmail" />
                                                 </div>
                                             </div>
                                             <div class="col-md-3">
                                                 <div class="form-group">
                                                     <label>Supervisor Moblie Number</label>
                                                     <input class="form-control" readonly type="text" name="moblienumber" id="txt3" ng-model="mbsCtrl.attributes.SupervisorMobileNumber" />
                                                 </div>
                                             </div>
                                             <div class="col-md-3">
                                                 <div class="form-group add-btn">
                                                     <button type="button" ng-click="mbsCtrl.addRow()" class="btn btn-primary btn-i" title="Add Supervisor">
                                                         <i class="fa fa-plus"></i> Add Supervisor
                                                     </button>
                                                 </div>
                                             </div>
                                         </div>

                                         <div class="row" ng-show="mbsCtrl.addSupervisor.length>0">
                                             <div class="col-md-12">
                                                 <div class="tab-content m-t-md">
                                                     <div id="pending-tab" class="tab-pane active">
                                                         <div class="grid-tb-panel">
                                                             <table class="table table-stripped" data-page-size="8">
                                                                 <tr>
                                                                     <th>Supervisor Name</th>
                                                                     <th>Supervisor Email</th>
                                                                     <th>Supervisor Moblie Number</th>
                                                                     <th>Action</th>
                                                                 </tr>
                                                                 <tr ng-repeat="addSupervisor in mbsCtrl.addSupervisor">
                                                                     <td>{{addSupervisor.SupervisorName}}</td>
                                                                     <td>{{addSupervisor.SupervisorEmail}}</td>
                                                                     <td class="text-center">{{addSupervisor.SupervisorMobileNumber}}</td>
                                                                     <td class="delete-view">
                                                                         <a type="button" href="javascript:void()" ng-click="mbsCtrl.removeRow($index)" title="Delete"><i class="fa pe-7s-trash"></i></a>
                                                                     </td>
                                                                 </tr>
                                                             </table>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="row">
                                         <div class="col-md-2">
                                             <div class="form-group">
                                                 <label>Gate Number</label>
                                                 <select class="form-control" name="select" id="select" ng-model="mbsCtrl.gate" ng-change="mbsCtrl.getContactDetail(mbsCtrl.gate.GateId)" ng-options="item as item.Option for item in mbsCtrl.gateList">

                                                     <option value="">Select</option>
                                                 </select>
                                             </div>
                                         </div>
                                         <div class="col-md-3">
                                             <div class="form-group">
                                                 <label>Registration No./Description</label>
                                                 <select class="form-control" name="select" id="select" ng-model="mbsCtrl.fleet" ng-options="item as item.RegistrationDescription for item in mbsCtrl.fleetList">
                                                     <option value="">Select</option>
                                                 </select>
                                             </div>
                                         </div>
                                         <div class="col-md-2">
                                             <div class="form-group">
                                                 <label>Contact Person Name {{mbsCtrl.gatelist}}</label>
                                                 <select class="form-control" name="select" id="select" ng-model="mbsCtrl.gate.contact" ng-options="item as item.ContactPerson for item in mbsCtrl.contactList"  ng-selected="item.IsDefault===true">
                                                     <option value="">Select</option>
                                                 </select>
                                             </div>
                                         </div>
                                         <div class="col-md-3">
                                             <div class="form-group">
                                                 <label>Email</label>
                                                 <input type="text" class="form-control" ng-model="mbsCtrl.gate.contact.Email" disabled>
                                             </div>
                                         </div>
                                         <div class="col-md-2">
                                             <div class="form-group">
                                                 <label>Mobile Number</label>
                                                 <input type="text" class="form-control" ng-model="mbsCtrl.gate.contact.MobileNumber" disabled>
                                             </div>
                                         </div>
                                         <div class="col-md-12">
                                             <div class="form-group add-gate-contact-btn text-right">

                                                 <a href="javascript:void(0)" title="Add Gate" class="btn btn-primary btn-i" ng-click="mbsCtrl.addGateRow()"><i class="fa fa-plus"></i> Add Gate</a>
                                                 <a href="javascript:void(0)" title="Add Contact" class="btn btn-primary btn-i" ng-click="mbsCtrl.bookingContactDetailModal(mbsCtrl.gate.contact.GateContactPersonId, mbsCtrl.gateList)" data-toggle="modal" data-target="#contact-details"><i class="fa fa-plus"></i> Add Contact</a>
                                             </div>
                                         </div>
                                     </div>

                                     <div class="row" ng-show="mbsCtrl.addGate.length>0">
                                         <div class="col-md-12">
                                             <div class="tab-content m-t-md">
                                                 <div id="pending-tab" class="tab-pane active">
                                                     <div class="grid-tb-panel">
                                                         <table class="table table-stripped" data-page-size="8">
                                                             <tr>
                                                                 <th>Gate Number</th>
                                                                 <th>Registration No./Description</th>
                                                                 <th>Contact Person Name</th>
                                                                 <th>Email</th>
                                                                 <th>Mobile Number</th>
                                                                 <th>Action</th>
                                                             </tr>
                                                             <tr ng-repeat="addGate in mbsCtrl.addGate">
                                                                 <td>{{addGate.GateNumber}}</td>
                                                                 <td>{{addGate.Registration}}</td>
                                                                 <td>{{addGate.ContactPerson}}</td>
                                                                 <td>{{addGate.Email}}</td>
                                                                 <td class="text-center">{{addGate.MobileNumber}}</td>
                                                                 <td class="delete-view">
                                                                     <a type="button" href="javascript:void(0);" ng-click="mbsCtrl.removeGateRow($index);" title="Delete"><i class="fa pe-7s-trash"></i></a>
                                                                 </td>
                                                             </tr>
                                                         </table>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="row">
                                         <div class="col-md-11">
                                             <div class="form-group">
                                                 <label>Notes For Site</label>
                                                 <textarea class="form-control" ng-model="mbsCtrl.SiteNote"></textarea>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="panel-footer text-right bc-panel-footer">
                                     <button type="submit" class="btn btn-primary continue" title="Submit">Submit</button>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </uib-tab>-->
            </uib-tabset>
        </div>
        <!--Tab End-->
    </div>
</div>