<div class="login-container" ng-controller="RestPasswordCtrl as resetCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
            <h2>BorgCivil</h2>
            </div>
            <div class="hpanel">
            <div class="panel-heading">Reset Password</div>
                <div class="panel-body">
                    <p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>
                     <form role="form" name="reset_form" ng-submit="resetCtrl.create(reset_form.$valid)" novalidate>
                        <div class="form-group">
                          <label class="control-label" for="username">Email</label>
                          <input type="email" class="form-control" ng-model="resetCtrl.attributes.email" name="email" required>
                          <div class="m-t-xs" ng-show="reset_form.email.$invalid && reset_form.$submitted">
                              <span class="text-danger" ng-show="reset_form.email.$error">
                                <span ng-show="reset_form.email.$error.required" ng-bind="resetCtrl.validationMsg.required"></span>
                                <span ng-show="reset_form.email.$error.email" ng-bind="resetCtrl.validationMsg.email"></span>
                            </span>
                        </div>
                    </div>
                        <button class="btn btn-success btn-block" type="submit">Reset password</button>
                        <a ui-sref="common.login" class="btn btn-default btn-block">
                        <i aria-hidden="true" class="fa fa-arrow-circle-o-left"></i> Back to Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            2017 Copyright BorgCivil
        </div>
    </div>
</div>
