<div class="inmodal contactdetails">
    <div class="modal-header text-center">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Supervisor Details</h4>
        <div class="clostbtn">
            <button type="button" ng-click="sCtrl.hideCancel()" title="Close"><img src="Content/images/closebtn.png"></button>
        </div>
    </div>
    <form name="contactDetailForm" ng-submit="sCtrl.saveSupervisor()" novalidate>
        <div class="modal-body">

            <div class="row" ng-if="sCtrl.supervisorId==''">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Customer <span class="text-danger"> *</span></label>
                        <select ng-model="sCtrl.customerPopup" name="customer" class="form-control" ng-required="true" ng-options="item.CustomerName for item in sCtrl.customerPopupList track by item.CustomerId" ng-change="sCtrl.changeCustomer(sCtrl.customerPopup.CustomerId, '');">
                            <option value="">Select</option>
                        </select>  
                    </div>
                </div>
            </div>
            <div class="row"  ng-if="sCtrl.supervisorId==''">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Site <span class="text-danger"> *</span></label>
                        <select ng-model="sCtrl.sitePopup" name="site" class="form-control" ng-required="true" ng-options="item.SiteName for item in sCtrl.sitePopupList track by item.SiteId">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Supervisor Name <span class="text-danger"> *</span></label>
                        <input class="form-control only-float" name="" type="text" ng-model="sCtrl.supervisorName" ng-maxlength="50" ng-minlength="3" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Supervisor Email <span class="text-danger"> *</span></label>
                        <input class="form-control only-float" name="" type="email" ng-model="sCtrl.email" required>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Supervisor Mobile No. <span class="text-danger"> *</span></label>
                            <input class="form-control only-float" name="" min="0" type="number" ng-model="sCtrl.mobileNumber" ng-maxlength="10" ng-minlength="10" required>
                        </div>
                    </div>
                </div>
           
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" title="Close" ng-click="sCtrl.hideCancel()">Close</button>
            <button type="submit" class="btn btn btn-primary" data-dismiss="modal" title="Update" ng-if="sCtrl.supervisorId">Update</button>
            <button type="submit" class="btn btn btn-primary" data-dismiss="modal" title="Save" ng-if="!sCtrl.supervisorId">Save</button>
        </div>
    </form>
</div>

