
    <div class="after-login forgot-content" ng-controller="LoginCtrl as lCtrl">
        <div class="forget-box">
            <toaster-container></toaster-container>
            <div class="hpanel">
                <div class="panel-body text-center after-login">
                    <img src="Content/images/login_logo.png" class="p-b10 img-responsive">
                    <p>Enter your email address below &amp; we will send you password reset instructions..</p>
                    <form name="forgot_password_form" ng-submit="lCtrl.passwordSubmit(forgot_password_form.$valid)" novalidate>
                        <div class="form-group password-field">
                            <i class="pe-7s-user"></i>
                            <input type="email" ng-model="lCtrl.passAttribute.Email" placeholder="Email" title="Please enter you email" ng-maxlength="100" class="form-control" disallow-spaces required>
                        </div>
                        <div class="login-btn clearfix">
                            <button class="btn btn-success btn-block" title="Send Email" type="submit">SEND EMAIL</button>
                        </div>
                        <div class="text-center p-t10 p-b10 clearfix"><a title="Back to Login" ui-sref="admin.Login()" >Back to Login</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>


